/* Estilo geral da página */
body {
  font-family: JetBrains Mono;
  background-color: #9f9f9f;
}

/* Estilo para o cabeçalho da calculadora */
h1 {
  font-size: 24px;
  margin-top: 0;
  text-align: center;
  font-family: JetBrains Mono;
  color: #ffffff;
}

/* Estilo para os campos de entrada de texto */
input[type="text"] {
  width: 235px;
  height: 20px;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  border-radius: 25px;
  font-family: JetBrains Mono;
}

/* Estilo para os botões */
input[type="button"] {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  font-size: 23px;
  background-color: #313131;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  margin-bottom: 10px;
  font-family: JetBrains Mono;
}

/* Estilo para o botão "b0" */
#b0 {
  width: 114px;
  border-radius: 25px;
  font-family: JetBrains Mono;
}
#bac {
  color: #000000;
}
#bmudarsinal {
  color: #000000;
}
#bporc {
  color: #000000;
}

/* Estilo para os botões de operação (+, -, x, =) */
#bsoma,
#bsubt,
#bmult,
#bigual,
#bdivi {
  background-color: #f69906;
  font-family: JetBrains Mono;
}
/* Estilo para os botões de operação (AC, +/-, %) */
#bac,
#bmudarsinal,
#bporc {
  background-color: #9f9f9f;
  font-family: JetBrains Mono;
}

/* Estilo para o botão de ponto */
#bponto {
  font-size: 24px;
  font-family: JetBrains Mono;
}

/* Estilo para o contêiner principal */
.Guizin {
  margin-top: 100px;
  margin: 0 auto;
  width: 250px;
  padding: 30px;
  background-color: #000000;
  border-radius: 10px;
}
